.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1f1f1f;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokeball {
  width: 5vw;
  max-width: 48px;
  position: absolute;
}

.pokeball:hover {
  animation: tilt 0.5s linear;
  cursor: pointer;
}

@keyframes tilt {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.App-link {
  color: #61dafb;
}
